*{
    margin:0;
    padding: 0;
    font-weight: normal;
    font-size: 100%;
}
html{
    background-color: beige;
    font-size: 18px;
    color: #284963;
}
body{
    text-align: center;
    
}

/* h1-h6 listings */
h1{
    font-size: 48px;
    font-weight: bold;
    padding: 5em 0 8em 0;
}
h2{
    font-size: 25px;
    font-weight: bold;
}
h3{
    font-size: 22px;
    font-weight: bold;
}
h4{
    font-size: 20px;
    font-weight: bold;
    padding: 1em;
}
p{
    padding: 1em;
}
img{
    padding: 1em;
}

/* dark mode color */

body.dark-mode{
    background-color: #284963;
    color: beige;
}
body.dark-mode a{
    color: white;
}
body.dark-mode a:hover{
    color: rgb(178, 178, 163);
}
body.dark-mode button{
    background-color: beige;
    color: #284963;
}
/* light mode color */
body.light-mode{
    background-color: beige;
    color: #284963;
}
body.light-mode a:hover{
color: #286351;
}
body.light-mode a:hover{
    color: olive;
}
body.light-mode button{
background-color:#284963;
color: beige;
}


body.dark-mode footer{
    color: #284963;
    background-color: beige;
    
    }

    body.light-mode footer{
        background-color: #284963;
        color: beige;
        
        }
/* end dark mode toggle */


#welcomeToClub{
    padding: 30em 0em 20em 0;

}

a{
    text-decoration: none;
    color: inherit;
}
nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    vertical-align: bottom;
    text-align: right;
    flex-direction: row;
    flex-wrap: wrap;
}

li{
    list-style: none;
}
nav li{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
nav ul{
    flex: 1;
    justify-content: space-between;
    padding: 2em;
}



/* #side_bar_nav{
display: flex;
flex-direction: column;
display: inline-flex;
justify-content: center;
float: left;
background-color: rosybrown;
color: white;
position: fixed;
top: 600px;
left: 0px;
width: 150px;
height: 30%;



} */


#testingQuoteButton{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 2em;
height: 60vh;
width: 60vw;
margin: auto;
border-style: solid;
border-width: 3px;
border-radius: 9px;
text-align: center;
overflow:scroll;


}

#getQuote{
    margin-top: 3em;;
    height: 10vh;
    font-weight: bold;
    border-radius: 9px;
}



.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
    padding-top: 8em;
    /* margin-left: 150px;
    padding: 10px;
    margin-top: 40px; */
}

.flex_main{
border-style: solid;

padding: 1em;
border-width: 2px;
padding: 2em;
margin: 3vh;
margin: 3vw;
border-radius: 9px;
}


.seperate_Container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    justify-content: space-around;
    padding-top: 8em;
}

.flex_main_other{
    border-style: solid;
    width: 80%;
    border-width: 2px;
    padding: 1em;
    margin: 3vh;
    margin: 3vw;
    border-radius: 9px;
}